<table class="table table-hover table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <td ng-repeat="number in gridCtrl.content" ng-mouseenter="display_icon = true" ng-mouseleave="display_icon=false" ng-click="gridCtrl.sortBy($index)">{{$index}}
                <span class="sort-data-icon pull-right" ng-show="display_icon"><i class="fa fa-sort-down"></i></span>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in gridCtrl.content track by $index">
            <td ng-repeat="col in row track by $index" ng-click="gridCtrl.toggle($parent.$index,$index)">
                <span ng-hide="gridCtrl.isSet($parent.$index,$index)">
                    {{gridCtrl.content[$parent.$index][$index]}}
                </span>
                <span ng-show="gridCtrl.isSet($parent.$index,$index)">
                    <input type="text" ng-model="gridCtrl.content[$parent.$index][$index]">
                </span>
            </td>
        </tr>
    </tbody>
</table>