*{
    box-sizing: border-box;
}
table{
    table-layout: fixed;
}
table td {
  position: relative;
  //word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table thead{
    background-color: #5fa2dd;
    background-size: cover;
}
table td input{
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
table td input[type=text]:disabled{
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
.fa{
    color:#5fa2dd;
}
.fa-plus-square-o,.fa-minus-square-o{
    cursor : pointer;
}
.treeItem:hover{
    background-color: #eaeff4;
}
.panel-custom > .panel-heading{
    background-color: #5fa2dd;
    color : white;
}
.borderless > tbody > tr >td{
    border:none !important;
}
.btn-custom{
    background-color: #eaeff4;
    border-radius: 0;
}
.btn-custom:hover{
    background-color: #5fa2dd;
    color:white;
}
input:disabled{
    background-color: inherit;
}