<div class="panel panel-custom">
    <div class="panel-heading">
        Menu
    </div>
    <div class="panel-body">
        <table class="table borderless">
            <thead>
                <tr>
                    <button class="btn btn-custom" ng-click="treeCtrl.collapseAll()">Collapse All</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-custom" ng-click="treeCtrl.expandAll()">Expand All</button>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in treeCtrl.treeData" ng-show="item.visible">
                    <td class="treeItem">
                        <span ng-repeat="i in treeCtrl.getNumber(item.level) track by $index">
                            &nbsp;&nbsp;
                        </span>
                        <i class='fa fa-plus-square-o' aria-hidden='true' ng-show="item.containsChildren&&(!item.showingNextLevel)" ng-click="treeCtrl.showNextLevel($index)"></i>
                        <i class="fa fa-square-o" aria-hidden="true" ng-hide="item.containsChildren"></i>
                        <i class="fa fa-minus-square-o" aria-hidden="true" ng-show="item.containsChildren&&item.showingNextLevel" ng-click="treeCtrl.hideNextLevel($index)"></i>
                        <span>
                            {{item.name}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
